@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MainActivity.Models.Company
<h1>Account</h1>
<hr/>

<form asp-action="Login" asp-controller="Account">
    <h2>Login</h2>
    <div asp-validation-summary="None"></div>
    <span asp-validation-for="Administrator.Email"></span>
    <input asp-for="Administrator.Email" placeholder="Enter Your Email" /><br />
    <span asp-validation-for="Administrator.Password"></span>
    <input asp-for="Administrator.Password" placeholder="Enter Your Password" /><br />
    <input type="submit" value="Login" />
</form>



<a asp-action="Register" asp-controller="Account">Register</a>